*{
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial;
}

body{
    /* color: rgb(0, 0, 0); */
    display: grid;
    grid-template-rows: 70px 1fr;
}

header{
    background-color: #525252;
    display: flex;
    align-items: center;
}

.heading{
    color: whitesmoke;
    font-size: 24px;
    margin-left: 24px;
    text-shadow: 2px 2px black;
}

main{
    height: 200%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    background-color: rgb(0, 108, 144);
    height: 100%;
}

.sidebar-links{
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-links button{
    border: none;
    background-color: transparent;
    font-size: 30px;
    height: 80px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    transition: background-color .3s;
}

.sidebar-links button:hover{
    background-color: rgb(255, 145, 11);
}

.sidebar-button{
    height: 50px;
    width: 130px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    opacity: 1;
    cursor: pointer;
    transition: box-shadow .15s;
}

.sidebar-button:hover{
    box-shadow: 5px 5px 5px black;
}

.donate-table,
.request-table{
    border: 2px solid red;
    margin-inline: auto;
    margin-top: 100px;
    font-size: 36px;
}

.donate-table td,
.request-table td{
    border: 2px dotted red;
}

td, th{
    padding: 15px;
}

.judge{
    border: none;
    font-size: 24px;
    padding: inherit;
    color: whitesmoke;
    cursor: pointer;
}

.approve{
    background-color: rgb(120, 200, 1);
}

.reject{
    background-color: red;
}