*{
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial;
}

.heading-text{
    font-size: 42px;
    font-weight: 700;
}

body{
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows: 70px 1fr;
}

header{
    background-color: #525252;
    display: flex;
    align-items: center;
}

.heading{
    color: whitesmoke;
    font-size: 24px;
    margin-left: 24px;
    text-shadow: 2px 2px black;
}

main{
    height: 200%;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar{
    background-color: rgb(255, 0, 0);
    height: 100%;
}

.sidebar-links{
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-links button{
    border: none;
    background-color: transparent;
    font-size: 30px;
    height: 80px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    transition: background-color .3s;
}

.sidebar-links button:hover{
    background-color: rgb(245, 145, 11);
}

.logo{
    max-width: 55%;
    height: auto;
    display: block;
    margin: auto;
}

.profile{
    /* background-color: #ccc; */
    margin-top: 5%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.profile div h1{
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin: 10px;
}

td, th{
    padding: 5px;
    font-size: 24px;
    font-weight: 600;
}

.right{
    text-align: right;
}

.donate,
.request{
    flex-direction: column;
    margin: 20px;
    /* line-height: 1rem; */
}


.donate form,
.request-form{
    margin: 20px;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 3rem;
}

.blood-type-input,
.blood-amt-input{
    display: flex;
    margin: 20px;
}

select,
#amt{
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid red;
}

dialog{
    height: max-content;
    margin: auto;
    padding: 25px;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-heading{
    font-size: 36px;
    margin-bottom: 10px;
}

.camps-table table td{
    padding: 10px;
    border: 2px solid red;
}

/* .donate-form{
    margin: 20px;
    font-size: 20px;
} */

.logout{
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.message{
    font-size: 50px;
    text-shadow: 2px 2px 2px rgb(255, 0, 0);
}

button,
.submit{
    height: 50px;
    width: 130px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    opacity: 1;
    cursor: pointer;
    transition: box-shadow .15s;
}

button:hover{
    box-shadow: 5px 5px 5px black;
}

.button button,
.submit{
    border-radius: 5px;
}

.button button:hover,
.submit:hover{
    box-shadow: 2px 2px  black;
}