.login-form{
    height: 200px;
}

input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    opacity: 0.4;
    border-radius: 5px;
    border: none;
    transition: opacity 0.5s;
}